.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.home-category {
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: show 2s ease-in-out;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: white;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.home-category:hover {
  &::before {
    background: transparent;
  }
}
.urban::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../../assets/album/image10.jpg');
  background-position: center 6%;
}
.portrait::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../../assets/album/image52.jpg');
  background-position: center 10%;
}
.home-category::before {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

@keyframes showp {
  0% {
    display: none;
  }
  100%{
    
    display: block;
  }
}
@keyframes show {
  0% {
    transform: scale(.05);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 580px) {
  .home-category {
    p {
      font-size: 2rem;
    }
  }
}
