
.about-container {
  padding: 0 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-text{
  padding:0 10%;
  text-align: center;
}
.video_item {
  height: 320px;
  border-radius: 3px;
  overflow: hidden;
}
.quality-container__video{
  display: none;
}
.quality-container__video > video {
  border-radius: 3px;
}
.quality-container__tecnologias {
  padding: 10px 0;
  display: flex;
}

.box-tec {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box-tec:last-child{
  filter: invert(1);
}
.box-tec:first-child {
  margin-left: 0;
}
.box-tec > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.box-tec > p {
  margin: 0;
  font-size: 12px;
  text-align: center;
}
.quality-container {
  display: flex;
  flex-direction: column-reverse;

}
@media screen and (min-width: 768px) {
  .about-container{
    padding: 0 10%;
    height: auto;
  }
  .container-text {
    padding: 0 20%;
  }
  .box-tec {
    margin:10px;
  }
  .box-tec:first-child {
    margin-left:10px;
  }
  .quality-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgba($color: #000000, $alpha: .5);
    border-radius: 3px;
    margin-bottom: 50px;
  }
  .quality-container__video {
    display: block;
  }
  .quality-container__video > video {
    max-width: 420px;
    width: 100%;
    border-radius: 3px;
  }
  .quality-container__tecnologias {
    flex-direction:column;
    width: 250px;
    overflow-x: hidden;
  }
}