.switch-category-container__ul{
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}
.switch-category-container__ul-li {
  
  color:darkgray;
  font-size: 1.2rem;
  list-style: none;
  text-transform: capitalize;
}

.switch-category-container__ul-li--active {
 
}



