.video_item {
  height: 550px;
  border-radius: 3px;
  overflow: hidden;
}
.group-video__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  gap: 10px;
}
.page_video-container{
  padding: 0 3%;
}
