.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: .7);
  width: 320px;
  height: 320px;
  text-transform: uppercase;
  color: #DBC18D;
  font-weight: 700;
  font-size: 1.4rem;
  text-shadow: 10px 10px 10px black;
  cursor: pointer;
  margin: 10px 0;
}

