.header-desktop {
  display: none;
  height: 600px;
  background: url('../../../assets/album/image12.jpg');
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: cover;
}

