.footer {
  border-radius: 3px;
  padding: 20px 0;
  margin: 20px 0;
  position: relative;
  /* background: url("../../assets/images/wave.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.footer  ul {
  padding: 0;
  display: flex;
  justify-content: left;
}
.footer ul > li:first-child {
  margin-left: 0;
}
.footer ul > li {
  margin: 0 5px;
  list-style: none;
}

.footer img {
  cursor: pointer;
}
