
@font-face {
  font-family: 'font_alex';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/font_alex.otf'); /* IE9 Compat Modes */
}
.layout {
  background: url('../assets/images/home.jpg');
  background-size: cover;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 150px 1fr;
  // background: #3D3C42;
  position: relative;
  overflow: hidden;

}

.layout__main {
  height: 100vh;
  width: calc(100vw - 150px);
  overflow: hidden;
  display: grid;
  grid-template-rows: 150px 1fr ;
  transition: transform .5s linear, width  .5s linear;
  // transition: transform .5s linear;
  overflow: hidden;
}



.layout__main__content {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
}
.container-left-bar{
  position: relative;
  transition: transform .5s linear;
  z-index: 1;
}

.container-left-bar__button-hidde {
  position: absolute;
  right: -25px;
  top: calc(50% - 25px);
  background: url('../assets/icons/next.png');
  width: 25px;
  background-size: cover;
  height: 25px;
  filter: invert(1);
  transform: rotate(180deg);
  transition: transform 1s ;
  cursor: pointer;
}
