$animation_duration: .2s;

@font-face {
  font-family: 'font_alex';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/font_alex.otf'); /* IE9 Compat Modes */
}
.layout {
  background: url('../assets/images/home.jpg');
  background-size: cover;
  position: relative;
  height: 100vh;
}
.layout-container {
  height: 100vh;
  overflow-y: auto;
  transition: transform $animation_duration linear, width  $animation_duration linear;
}

@media screen and (min-width:769px) {
  .layout {
    display: grid;
    position: relative;
    grid-template-columns: 150px 1fr;
  }
  .layout-container {
    display: grid;
    grid-template-rows: 150px 1fr;
    height: 100%;
    width: 100%   ;
  }
  .layout__main--move{
    transform: translate(-150px);
    width: 100vw;
  }
}